body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e8eef7;
    font-family:Arial;
}
.card{
    width:350px;
    padding:30px;
    background:white;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.card h2{
    margin-bottom:20px;
    color:#333;
}
.result-card{
    padding:25px;
    background:#f0f7ff;
    border-radius:15px;
    border:2px solid #3498db;
}
#output{
    font-size:30px;
    font-weight:bold;
    color:#3498db;
}